pkgbase = dwl-git
	pkgdesc = Simple, hackable dynamic tiling Wayland compositor (dwm for Wayland)
	pkgver = 0.2.r0.9f90011
	pkgrel = 1
	url = https://github.com/djpohly/dwl
	arch = x86_64
	license = GPL
	makedepends = git
	depends = wlroots
	provides = dwl
	conflicts = dwl
	source = git+https://github.com/djpohly/dwl
	source = config.h
	md5sums = SKIP
	md5sums = SKIP

pkgname = dwl-git

